<ion-view view-title="Zikalert">
    <ion-content class="padding">
       <!-- <div class=" card text-center"><h4>The Supreme Court of the United States</h4></div> -->
        <div class="card">
	         <div class="item item-text-wrap"><div class="text-center"><img src="img/seal.png" height="200px" width="200px"></div>
	         <br>
	         <p>The Supreme Court consists of the Chief Justice of the United States and such number of Associate Justices as may be fixed by Congress. The number of Associate Justices is currently fixed at eight (28 U. S. C. §1). Power to nominate the Justices is vested in the President of the United States, and appointments are made with the advice and consent of the Senate. Article III, §1, of the Constitution further provides that "[t]he Judges, both of the supreme and inferior Courts, shall hold their Offices during good Behaviour, and shall, at stated Times, receive for their Services, a Compensation, which shall not be diminished during their Continuance in Office."</p>
	         <br>
	         <p><b>Counselor to the Chief Justice:</b> Jeffrey P. Minear</p>
	         <p><b>Clerk:</b> Scott Harris</p>
	         <p><b>Librarian:</b> Linda Maslow</p>
	         <p><b>Marshal:</b> Pamela Talkin</p>
	         <p><b>Reporter of Decisions:</b> Christine L. Fallon</p>
	         <p><b>Court Counsel:</b> Ethan Torrey</p>
			 <p><b>Curator:</b> Catherine E. Fitts</p>
			 <p><b>Director of IT:</b> Robert J. Hawkins</p>
			 <p><b>Public Information Officer:</b> Kathleen L. Arberg</p>
			<br>
			<p>
			Court Officers assist the Court in the performance of its functions. They include the Counselor to the Chief Justice, the Clerk, the Librarian, the Marshal, the Reporter of Decisions, the Court Counsel, the Curator, the Director of Information Technology, and the Public Information Officer. The Counselor is appointed by the Chief Justice. The Clerk, Reporter of Decisions, Librarian, and Marshal are appointed by the Court. All other Court Officers are appointed by the Chief Justice in consultation with the Court.
			</p>
			<br>
			<p>
			<b>Constitutional Origin.</b> Article III, §1, of the Constitution provides that "[t]he judicial Power of the United States, shall be vested in one supreme Court, and in such inferior Courts as the Congress may from time to time ordain and establish." The Supreme Court of the United States was created in accordance with this provision and by authority of the Judiciary Act of September 24, 1789 (1 Stat. 73). It was organized on February 2, 1790.
			</p>
			<br>
			<p>
			<b>Jurisdiction.</b> According to the Constitution (Art. III, §2): "The judicial Power shall extend to all Cases, in Law and Equity, arising under this Constitution, the Laws of the United States, and Treaties made, or which shall be made, under their Authority;-to all Cases affecting Ambassadors, other public Ministers and Consuls;-to all Cases of admiralty and maritime Jurisdiction;-to Controversies to which the United States shall be a Party;-to Controversies between two or more States;—between a State and Citizens of another State;-between Citizens of different States;—between Citizens of the same State claiming Lands under Grants of different States, and between a State, or the Citizens thereof, and foreign States, Citizens or Subjects.
			</p>
			<br>
			<p>
			"In all Cases affecting Ambassadors, other public ministers and Consuls, and those in which a State shall be Party, the supreme Court shall have original Jurisdiction. In all the other Cases before mentioned, the supreme Court shall have appellate jurisdiction, both as to Law and Fact, with such Exceptions, and under such Regulations as the Congress shall make."
			</p>
			<br>
			<p>
			Appellate jurisdiction has been conferred upon the Supreme Court by various statutes, under the authority given Congress by the Constitution. The basic statute effective at this time in conferring and controlling jurisdiction of the Supreme Court may be found in 28 U. S. C. §1251 et seq., and various special statutes. 
			</p>
			<br>
			<p>
			<b>Rulemaking Power.</b> Congress has from time to time conferred upon the Supreme Court power to prescribe rules of procedure to be followed by the lower courts of the United States. See 28 U. S. C. §2071 et seq.
			</p>
			<br>
			<p>
			<b>The Building.</b> The Supreme Court is open to the public from 9 a.m. to 4:30 p.m., Monday through Friday. It is closed Saturdays, Sundays, and the federal legal holidays listed in 5 U. S. C. §6103. Unless the Court or the Chief Justice orders otherwise, the Clerk’s Office is open from 9 a.m. to 5 p.m., Monday through Friday, except on those holidays. The Library is open to members of the Bar of the Court, attorneys for the various federal departments and agencies, and Members of Congress.
			</p>
			<br>
			<p>
			<b>The Term.</b> The Term of the Court begins, by law, on the first Monday in October and lasts until the first Monday in October of the next year. Approximately 10,000 petitions are filed with the Court in the course of a Term. In addition, some 1,200 applications of various kinds are filed each year that can be acted upon by a single Justice.</p>
          </div>
        </div>
        <br>
            <!-- <p><a hreh="http://www.supremecourt.gov/" class="button button-positive button-block">VISIT THE OFFICIAL SCOTUS WEBSITE</a></p><br><br><p class="text-center">© 2016</p> -->
  </ion-content>
</ion-view>