<ion-view view-title="Zikalert">
  <ion-content>
    <!-- <button class="button button-assertive" ng-click="stopPlayback()">Stop all</button> -->
    <div class="card">
        <div class="item item-text-wrap">
            <p>Below is and audio sound you can play to repel the mosquitos that may be carrying the Zika virus, malaria, Dengue Fever, and more. Just hit play! The sounds are broken up by age of user.</p>
        </div>
    </div>
    <div class="card">
    <ion-audio-track ng-repeat="track in tracks" track="track">
        <div class="card">
            <div class="item">
                <h2>{{track.title}}</h2>

                <p>{{track.artist}}</p>
                <ion-audio-controls>
                    <a class="button button-icon icon" ion-audio-play></a>
                    <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
                </ion-audio-controls>
            </div>
            <div class="item item-divider">
                <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
            </div>
        </div>
    </ion-audio-track>
    </div>
    <!-- <div class="card">
        <div class="item item-text-wrap">
            <p><a hreh="http://www.supremecourt.gov/oral_arguments/argument_audio.aspx" class="button button-positive button-block">VISIT THE ARCHIVES ONLINE</a></p>
        </div>
    </div> -->
    <br>
  </ion-content>
</ion-view>
