<ion-view view-title="Zikalert">
    <ion-content class="padding">
        <div class="padding"><div class="center"><h3>The Supreme Court of the United States</h3></div>
        <div class="padding center"><img src="img/seal.png" height="150px" width="150px"></div>
          The Supreme Court of the United States, otherwise known as SCOTUS, is the highest court in the land and consists of 9 judges, otherwise knows as Justices. They are one of the three branches of government.
        </div>
  </ion-content>
</ion-view>
