<ion-view view-title="Zikalert">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        US States
      </div>
      <div class="item item-text-wrap">
      <p>Travel-associated cases: <strong>544</strong></p>
        <p>Locally acquired vector-borne cases: <strong>0</strong></p>
        <p><strong>TOTAL CASES: 544</strong></p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        US Territories
      </div>
      <div class="item item-text-wrap">
      <p>Travel-associated cases: <strong>4</strong></p>
        <p>Locally acquired vector-borne cases: <strong>832</strong></p>
        <p><strong>TOTAL CASES: 836</strong></p>
      </div>
    </div>


    <div class="card">
      <div class="item item-text-wrap">
      <p>
          Zika virus disease and Zika virus congenital infection are nationally notifiable conditions.
        </p>
        <br>
        <p>
          This update from the CDC Arboviral Disease Branch includes provisional data reported to ArboNET for January 1, 2015 – May 18, 2016.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>